xml-text/e-students.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://www.example.org/e-students" 
	xmlns:tns="http://www.example.org/e-students" 
	elementFormDefault="qualified">

    <complexType name="students">
    	<sequence>
    		<element name="student" type="tns:student" maxOccurs="unbounded" minOccurs="0"></element>
    	</sequence>
    </complexType>
    
    <element name="students" type="tns:students"></element>

    <complexType name="student">
    	<sequence>
    		<element name="sno" type="string"></element>
    		<element name="name" type="string"></element>
    	</sequence>
    </complexType>
    
</schema>