xml-text/student-sch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="3117004993.gdut.edu.cn" xmlns:tns="3117004993.gdut.edu.cn" elementFormDefault="qualified">


    <element name="sno" type="string"></element>


    <element name="name" type="string"></element>



    <complexType name="student">
    	<choice>
    		<element name="sno" type="string"></element>
    		<element name="name" type="string"></element>
    	</choice>
    </complexType>

    <complexType name="students">
    	<sequence>
    		<element name="NewElement" type="string"></element>
    	</sequence>
    </complexType>
</schema>